* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #acabab;
    color: #fff;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }

  .logo-text{
    text-decoration: none;
  }
  
  .nav-links {
    display: flex;
  }
  
  .nav-link {
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-link:hover {
    color: #ffcc00; /* Change the color on hover */
  }