* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

.product-table-container {
    margin: 20px;
  }
  
  .product-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .product-table th, .product-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .product-table th {
    background-color: #333;
    color: #fff;
  }
  
  .product-image {
    max-width: 50px;
    max-height: 50px;
  }